#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#header div:first-child {
  display: flex;
  margin: 1rem 0;
}

#header div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
}

#header div:first-child img {
  width: 50px;
  height: 50px;
}

#header div:first-child h1 {
  margin: 0 0 0 .5rem;
  color: #35495e;
  padding-top: 7px;
  font-weight: 400;
}

#header div:last-child i {
  color: #999;
  font-size: 1.2rem;
  padding: 0;
  width: 20px;
  user-select: none;
  border-radius: 2px;
  margin-left: .25rem;
  cursor: pointer;
}

#header div:last-child i:hover {
  color: #cecece;
}

#header div:last-child span {
  color: #35495e;
  font-size: 1.2rem;
  margin-right: .5rem;
  font-weight: 400;
}